.vscode/**
node_modules/**
src/webview/**
src/shared/**
vite.webview.config.mjs
vite.markdown-preview.config.mjs
markdown-preview/hljs-entry.js
svelte.config.mjs
tsconfig.json
tsconfig.webview.json
**/*.ts
**/*.map
!out/**/*.js
!media/**
.gitignore
pnpm-lock.yaml
vitest.config.mts
